body {
  background-color:#46b3e6;
}
hr {

  border-style:  none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 5px;

  width: 5%;
}
h3{

  color: #005082;
}

h1{
  color: #005082
}
h2{
  color: #f9f9f9;
}
img{
  background-color: red;
  border-radius:50%;
  border-width:100px;
  height: 150px;
}
